.animated-bg {
  animation: slideBackground 180s linear infinite;
  background-size: 150% 150% !important;
  background-repeat: no-repeat !important;
  background-color: #1a1a2e !important;
}

@keyframes slideBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
